

<%- include('partials/header') -%>

<h2>Home</h2>
<p> <%=  homeContent  %> </p>

<%   posts.forEach(function(post){  %>
   <h1>  <%=post.title%>  </h1>
   <p>  <%=  (post.body).substring(0, 99) +" ..." %>  <a href="/posts/<%=post.title%>">Read More</a></p>
<% })  %>

<%- include('partials/footer') -%>
